In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
file_path = 'C:/Users/Aadiv/Downloads/CarPrices/CarPrice_Assignment.csv'
carp = pd.read_csv(file_path)
print(carp)

     car_ID  symboling                   CarName fueltype aspiration  \
0         1          3        alfa-romero giulia      gas        std
1         2          3       alfa-romero stelvio      gas        std
2         3          1  alfa-romero Quadrifoglio      gas        std
3         4          2               audi 100 ls      gas        std
4         5          2                audi 100ls      gas        std
..      ...        ...                       ...      ...        ...
200     201         -1           volvo 145e (sw)      gas        std
201     202         -1               volvo 144ea      gas      turbo
202     203         -1               volvo 244dl      gas        std
203     204         -1                 volvo 246   diesel      turbo
204     205         -1               volvo 264gl      gas      turbo

    doornumber      carbody drivewheel enginelocation  wheelbase  ...  \
0          two  convertible        rwd          front       88.6  ...
1          two  convertible        rwd          front       88.6  ...
2          two    hatchback        rwd          front       94.5  ...
3         four        sedan        fwd          front       99.8  ...
4         four        sedan        4wd          front       99.4  ...
..         ...          ...        ...            ...        ...  ...
200       four        sedan        rwd          front      109.1  ...
201       four        sedan        rwd          front      109.1  ...
202       four        sedan        rwd          front      109.1  ...
203       four        sedan        rwd          front      109.1  ...
204       four        sedan        rwd          front      109.1  ...

     enginesize  fuelsystem  boreratio  stroke compressionratio horsepower  \
0           130        mpfi       3.47    2.68              9.0        111
1           130        mpfi       3.47    2.68              9.0        111
2           152        mpfi       2.68    3.47              9.0        154
3           109        mpfi       3.19    3.40             10.0        102
4           136        mpfi       3.19    3.40              8.0        115
..          ...         ...        ...     ...              ...        ...
200         141        mpfi       3.78    3.15              9.5        114
201         141        mpfi       3.78    3.15              8.7        160
202         173        mpfi       3.58    2.87              8.8        134
203         145         idi       3.01    3.40             23.0        106
204         141        mpfi       3.78    3.15              9.5        114

     peakrpm citympg  highwaympg    price
0       5000      21          27  13495.0
1       5000      21          27  16500.0
2       5000      19          26  16500.0
3       5500      24          30  13950.0
4       5500      18          22  17450.0
..       ...     ...         ...      ...
200     5400      23          28  16845.0
201     5300      19          25  19045.0
202     5500      18          23  21485.0
203     4800      26          27  22470.0
204     5400      19          25  22625.0

[205 rows x 26 columns]

In [18]:
features = ['wheelbase','carlength','carwidth','curbweight','enginesize','horsepower','highwaympg','price']
data = carp[features].copy()
data

,wheelbase,carlength,carwidth,curbweight,enginesize,horsepower,highwaympg,price
0,88.6,168.8,64.1,2548,130,111,27,13495.0
1,88.6,168.8,64.1,2548,130,111,27,16500.0
2,94.5,171.2,65.5,2823,152,154,26,16500.0
3,99.8,176.6,66.2,2337,109,102,30,13950.0
4,99.4,176.6,66.4,2824,136,115,22,17450.0
...,...,...,...,...,...,...,...,...
200,109.1,188.8,68.9,2952,141,114,28,16845.0
201,109.1,188.8,68.8,3049,141,160,25,19045.0
202,109.1,188.8,68.9,3012,173,134,23,21485.0
203,109.1,188.8,68.9,3217,145,106,27,22470.0
204,109.1,188.8,68.9,3062,141,114,25,22625.0

In [20]:
x_train = data.copy()
x_train = data.drop('price', axis = 1) 
y_train = data.iloc[:,-1]
x_train
#Making a training dataset NOT including price

,wheelbase,carlength,carwidth,curbweight,enginesize,horsepower,highwaympg
0,88.6,168.8,64.1,2548,130,111,27
1,88.6,168.8,64.1,2548,130,111,27
2,94.5,171.2,65.5,2823,152,154,26
3,99.8,176.6,66.2,2337,109,102,30
4,99.4,176.6,66.4,2824,136,115,22
...,...,...,...,...,...,...,...
200,109.1,188.8,68.9,2952,141,114,28
201,109.1,188.8,68.8,3049,141,160,25
202,109.1,188.8,68.9,3012,173,134,23
203,109.1,188.8,68.9,3217,145,106,27
204,109.1,188.8,68.9,3062,141,114,25

In [21]:
## Z-Score Normalisation - 
x_train_scaled = (x_train - x_train.mean()) / x_train.std() 
y_train_scaled = (y_train -y_train.mean())/ y_train.std()

x_train_scaled
#using the formula for Z-Score Normalisation ((data-mean))/std. deviation):

,wheelbase,carlength,carwidth,curbweight,enginesize,horsepower,highwaympg
0,-1.686643,-0.425480,-0.842719,-0.014531,0.074267,0.174057,-0.544725
1,-1.686643,-0.425480,-0.842719,-0.014531,0.074267,0.174057,-0.544725
2,-0.706865,-0.230948,-0.190101,0.513625,0.602571,1.261448,-0.689938
3,0.173274,0.206750,0.136209,-0.419770,-0.430023,-0.053537,-0.109087
4,0.106848,0.206750,0.229440,0.515545,0.218350,0.275209,-1.270789
...,...,...,...,...,...,...,...
200,1.717669,1.195622,1.394830,0.761377,0.338419,0.249921,-0.399512
201,1.717669,1.195622,1.348215,0.947672,0.338419,1.413178,-0.835151
202,1.717669,1.195622,1.394830,0.876611,1.106861,0.755685,-1.125577
203,1.717669,1.195622,1.394830,1.270327,0.434474,0.047616,-0.544725
204,1.717669,1.195622,1.394830,0.972640,0.338419,0.249921,-0.835151

In [22]:
print(x_train_scaled.mean())
x_train_scaled.std
#that checks out, time to check SD

wheelbase    -1.291108e-15
carlength     3.674026e-15
carwidth      1.080978e-15
curbweight    9.531671e-17
enginesize    3.466062e-17
horsepower    1.819683e-16
highwaympg    1.364762e-16
dtype: float64

<bound method DataFrame.std of      wheelbase  carlength  carwidth  curbweight  enginesize  horsepower  \
0    -1.686643  -0.425480 -0.842719   -0.014531    0.074267    0.174057
1    -1.686643  -0.425480 -0.842719   -0.014531    0.074267    0.174057
2    -0.706865  -0.230948 -0.190101    0.513625    0.602571    1.261448
3     0.173274   0.206750  0.136209   -0.419770   -0.430023   -0.053537
4     0.106848   0.206750  0.229440    0.515545    0.218350    0.275209
..         ...        ...       ...         ...         ...         ...
200   1.717669   1.195622  1.394830    0.761377    0.338419    0.249921
201   1.717669   1.195622  1.348215    0.947672    0.338419    1.413178
202   1.717669   1.195622  1.394830    0.876611    1.106861    0.755685
203   1.717669   1.195622  1.394830    1.270327    0.434474    0.047616
204   1.717669   1.195622  1.394830    0.972640    0.338419    0.249921

     highwaympg
0     -0.544725
1     -0.544725
2     -0.689938
3     -0.109087
4     -1.270789
..          ...
200   -0.399512
201   -0.835151
202   -1.125577
203   -0.544725
204   -0.835151

[205 rows x 7 columns]>

In [23]:
print(x_train_scaled.std())
x_train_scaled.std
#also checks out lessgo

wheelbase     1.0
carlength     1.0
carwidth      1.0
curbweight    1.0
enginesize    1.0
horsepower    1.0
highwaympg    1.0
dtype: float64

<bound method DataFrame.std of      wheelbase  carlength  carwidth  curbweight  enginesize  horsepower  \
0    -1.686643  -0.425480 -0.842719   -0.014531    0.074267    0.174057
1    -1.686643  -0.425480 -0.842719   -0.014531    0.074267    0.174057
2    -0.706865  -0.230948 -0.190101    0.513625    0.602571    1.261448
3     0.173274   0.206750  0.136209   -0.419770   -0.430023   -0.053537
4     0.106848   0.206750  0.229440    0.515545    0.218350    0.275209
..         ...        ...       ...         ...         ...         ...
200   1.717669   1.195622  1.394830    0.761377    0.338419    0.249921
201   1.717669   1.195622  1.348215    0.947672    0.338419    1.413178
202   1.717669   1.195622  1.394830    0.876611    1.106861    0.755685
203   1.717669   1.195622  1.394830    1.270327    0.434474    0.047616
204   1.717669   1.195622  1.394830    0.972640    0.338419    0.249921

     highwaympg
0     -0.544725
1     -0.544725
2     -0.689938
3     -0.109087
4     -1.270789
..          ...
200   -0.399512
201   -0.835151
202   -1.125577
203   -0.544725
204   -0.835151

[205 rows x 7 columns]>